body{

font-family:tahoma;

max-width:700px;

margin:auto;

padding:30px;

direction:rtl;

}

input{

padding:10px;

margin:10px;

}

button{

padding:10px 20px;

cursor:pointer;

}

canvas{

margin-top:40px;

}